<%- include("head") -%>
<%- include("navbar") -%>
<div class="profiles">
  <div class="profile-row">
    <img class=img-fluid src="/images/<%= title.toLowerCase(); %>.jpg">
    <h1 class="person-name"> <%= title %> </h1>
    <p class="description"> <%= content %> </p>
  </div>
</div>
<%- include("footer") -%>



